  :root {
    --mainColor: #15202B;
    --secondaryColor: #192734;

    --borderColor: #164D56;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --themeDotBorder: #FFF;

    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadowColor: #111921;
    --buttonColor: #17a2b8;

    --shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  }