/* :root {
    --mainColor: #00af91;
    --secondaryColor: #007965;

    --borderColor: #161914;

    --mainText: #fff;
    --secondaryText: #161914;

    --themeDotBorder: #FFF;

    --previewBg: #f58434c2;
    --previewShadowColor: #ffcc29;

    --buttonColor: #f58634;
} */

/* :root {
    --mainColor: #e7e7de;
    --secondaryColor: #008891;

    --borderColor: #161914;

    --mainText: #161914;
    --secondaryText: #e7e7de;

    --themeDotBorder: #FFF;

    --previewBg: #00587ac2;
    --previewShadowColor: #0f3057;

    --buttonColor: #00587a;
} */
:root {
    --mainColor: #312c51;
    --secondaryColor: #48426d;

    --borderColor: #161914;

    --mainText: #FFF;
    --secondaryText: #161914;

    --themeDotBorder: #FFF;

    --previewBg: #f0c38ec2;
    --previewShadowColor: #f1aa9b;

    --buttonColor: #f0c38e;
}